<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>商品管理</title>
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css">
    <script src="__PUBLIC__/lib/jquery-1.9.0.min.js"></script>
    <script src="__PUBLIC__/layui/layui.js"></script>
</head>
<body>
<table class="layui-table" lay-skin="nob">
    <tbody>
    <tr>
        <td>
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-mid">商品名称：</label>
                    <div class="layui-input-inline">
                        <input type="text" placeholder="商品名称" autocomplete="off" class="layui-input">
                    </div>
                    <label class="layui-form-mid">商品编号：</label>
                    <div class="layui-input-inline">
                        <input type="text" placeholder="商品编号" autocomplete="off" class="layui-input">
                    </div>
                    <label class="layui-form-mid">是否上架：</label>
                    <div class="layui-input-inline">
                        <select lay-verify="">
                            <option value="">是否上架</option>
                            <option value="">不选择</option>
                            <option value="010">是</option>
                            <option value="021">否</option>
                        </select>
                    </div>
                    <button class="layui-btn layui-btn-normal">确 定</button>
                    <a href="good_info" class="layui-btn layui-btn-green"><i class="layui-icon">&#xe608;</i> 新增商品 </a>
                </div>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form class="layui-form">
    <table class="layui-table">
        <colgroup>
            <col width="100">
            <col width="80">
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th><input type="checkbox" title="ID" lay-filter="selected-all"> </th>
            <th>图片</th>
            <th>商品名称</th>
            <th>商品编号</th>
            <th>市场价</th>
            <th>本店价</th>
            <th>上下架</th>
            <th>库存</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <foreach name="goodsList" id="good">
            <tr id="good-id-{$good.goods_id}">
                <td><input class="row-id" type="checkbox" title="{$good.goods_id}"> </td>
                <td><a href="{:url('Goods/GoodsInfo',array('goods_id'=>$good.goods_id))}" title="链接到商品"><img src="{$good.img}" width="80"></a></td>
                <td>{$good.goods_name}</td>
                <td>{$good.goods_sn}</td>
                <td>{$good.market_price}</td>
                <td>{$good.shop_price}</td>
                <td><input type="checkbox" lay-skin="switch"  lay-filter="is_on_sale" value="" id="is_on_sale" title="{$good.goods_id}" <if condition="strtoupper($good['is_on_sale']) eq 1">checked
                           <else />
                    </if>
                ></td>
                <td>{$good.store_count}</td>
                <td><a href="{:url('good_info',array('id'=>$good['goods_id']))}" class="layui-btn layui-btn-small layui-btn-primary" title="编辑">
                    <i class="layui-icon">&#xe614;</i>
                </a>
                    <a href="javascript:;" class="layui-btn layui-btn-small layui-btn-primary good_del" title="删除" data-id="{$good.goods_id}">
                        <i class="layui-icon">&#x1006;</i>
                    </a></td>
            </tr>
        </foreach>
        </tbody>
    </table>
</form>
<style>
    .pagination{display: inline-flex;}
</style>
<div class="layui-box">
    <div class="layui-laypage layui-laypage-molv" style="float: right; display: inherit"><a style="border: none;">共{$count}条记录</a> {$page}
    <div style="float: left;">
        <button class="layui-btn layui-btn-danger">批量下架</button>
        <button class="layui-btn layui-btn-primary" onclick="editInfo('relative')">关联商品组</button>
    </div>
</div>
<div class="layui-hide" id="edit-relative">
    <form class="layui-form" style="padding: 0 10px;">
        <table class="layui-table" lay-skin="nob">
            <colgroup>
                <col width="30%">
                <col width="70%">
            </colgroup>
            <tbody>
            <tr>
                <td align="right"><strong>关联商品组：</strong></td>
                <td class="layui-form-item"><div class="layui-input-inline"><select lay-verify="">
                    <option value="">关联商品组</option>
                    <option value="">不选择</option>
                    <option value="1">十二生肖组</option>
                    <option value="2">本命佛组</option>
                </select></div></td>
            </tr>
            <tr>
                <td colspan="2" align="right"><button class="layui-btn layui-btn-normal layui-btn-big">确 定</button></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<script>
    layui.use(['layer', 'element', 'form'], function(){
        var layer = layui.layer;
        var element = layui.element();
        var form = layui.form();

        //选中
        form.on('checkbox(selected-all)', function(data){
            console.log(data.elem); //得到checkbox原始DOM对象
            console.log(data.elem.checked); //是否被选中，true或者false
            console.log(data.value); //复选框value值，也可以通过data.elem.value得到

            $(".row-id").attr("checked", data.elem.checked);
            data.elem.checked == true ? $(".row-id").next("div").addClass("layui-form-checked") : $(".row-id").next("div").removeClass("layui-form-checked");
        });

        //修改状态
        form.on('switch(is_on_sale)', function(data){
            //alert("监控到了");
            console.log(data.elem); //得到checkbox原始DOM对象
            console.log(data.elem.checked); //开关是否开启，true或者false
            console.log(data.value); //开关value值，也可以通过data.elem.value得到
            var is_on_sale='';
            if(data.elem.checked===true){
                 is_on_sale=1;
            }else{
                is_on_sale=0;
            }
            $.ajax({
                url:'is_on_sale',
                data:{status:is_on_sale,goods_id:data.elem.title},
                success:function(){
                }

            })
        });
    });

    function editInfo(action){
        var html = '';
        var openArea = ['420px', '200px'];
        var openTitle = '编辑';
        if(action == 'relative'){ //编辑基本信息
            html = $("#edit-"+action).html();
        }

        layer.open({
            type: 1,
            title: openTitle,
            skin: 'layui-layer-rim', //加上边框
            area: openArea, //宽高
            content: html
        });
        layui.form().render('select'); //刷新select选择框渲染
    }

    $(".good_del").click(function(){
        var obj = $(this);
        var thisId = obj.data("id");

        layer.confirm('确定删除？', {
            btn: ['确定','取消'] //按钮
        }, function(index){
            $("#good-id-"+thisId).remove();
            $.ajax({
                url:'good_del',
                data:{id:thisId},
                success:function(){
                    //回调函数
                }
            });
            layer.close(index);
        }, function(){
            //layer.msg('按了取消', {icon: 1});
        });
    });
</script>
</body>
</html>